
*.vpp.ba*
*.vpp.lck
*.log
*.aux
*.pdf
*.gz
*.toc
/ConfiguraFacil/nbproject/private/
/ConfiguraFacil/build/
/ConfiguraFacil/out/*
/ConfiguraFacil/.idea/*
ConfiguraFacil/build.xml
ConfiguraFacil/manifest.mf
Lógico.mwb.bak
Lógico.mwb.bak
*.bak
